[submodule "third_party/jobman"]
	path = third_party/jobman
	url = https://github.com/SachinKonan/jobman.git
[submodule "third_party/tpu-inference"]
	path = third_party/tpu-inference
	url = https://github.com/vllm-project/tpu-inference.git
	branch = releases/v0.23.0
[submodule "third_party/tinker-cookbook"]
	path = third_party/tinker-cookbook
	url = https://github.com/SachinKonan/tinker-cookbook.git
